################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoFac_practice/.vs/AutoFac_practice/v16
